* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Inter', sans-serif;
}
.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding: 10px 120px;
    background-color: #fff;

}
.header_menu-wr .logo_icon {
    width: 72px;
    height: 40px;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    width: 329px;
}
.header_link {
    height: 22px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    text-decoration:none ;

}


@media (max-width: 768px) {
.header .container {
    padding: 10px 40px;
}


} 

@media (max-width: 375px){
.header .container {
    padding: 8px 16px;
    height: 40px;
}
.header_link{
    font-size: 12px;
    margin: 0 auto;
}

    
.header_menu-wr .logo_icon{
    width: 45px;
    height: 25px;
    margin: 0 37px 0 0;
    }
}

/* Title */

.title {
    background: url(../img/bg/recetas1.png) center center/cover no-repeat;
    min-height: 400px;
    max-width: 1440px;
    margin: 0 auto;
}

.title_text h1{
    padding: 138px 0 136px 0;
    flex-grow: 0;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0;
}

@media (max-width: 768px){

.title{
    min-height: 229px;
    background-color: rgba(0, 0, 0, 0.3);
    }


    .title_text h1 {
    padding: 64px 0 64px 0;
    flex-grow: 0;
    font-size: 32px;
    }
}

@media (max-width: 375px){
.title_text h1{
    padding: 50px 43px;
    font-size: 28px;
}
.title{
    min-height: 189px;
}
}
/* Events */

.events .container {
    display: flex;
    justify-content:center;
    min-height: 123px;
    max-width: 1440px;

}

.events .our_mission,
.events .our_events,
.events .get_involved {
    width: 480px;
    padding: 22.5px 0;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    text-align: center;
}

.events .our_mission {
    background-color: #b9506a;
}
.events .our_events {
    background-color: #283d87;   
}
.events .get_involved { 
    background-color: #3f6fd7;
}



.events span{
    font-family: Inter;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: #fff;
}


@media (max-width: 768px) {
.events .our_mission,
.events .our_events,
.events .get_involved {
    max-width: 256px;
    min-height: 100px;
    padding: 20px 24px 20px 24px;
    font-size: 24px;
    line-height: 1.58;
    }
.events span{
    font-size: 14px;

    }
}

@media (max-width: 375px){
.events .our_mission,
.events .our_events,
.events .get_involved{
    max-width: 375px;
    min-height: 72px;
    font-size: 18px;
    padding: 11px 0;
}
.events .container{
    display: block;
}
.events span{
    font-size:14px ;
}
}
/* blogs */

.blogs {
    max-width: 1440px;
    margin: 0 auto;
} 

.blogs_bloсk span{
    flex-grow: 0;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.blogs .container .blogs_bloсk {
    display: flex;
    justify-content:center;

}

.blogs h2{
    margin: 56px 89px 0 88px;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
        
}

.blogs h4{
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    text-align: left;
    color: #000;
}

.blogs p{
    display: inline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: #000;
}

.blog_1{
    max-width: 387px;
    min-height: 419px;    
    padding: 16px;
    margin: 24px 19px 0px 0px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.blog_2{  
    max-width: 387px;
    min-height: 419px;  
    padding: 16px;
    margin: 24px 0 0px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.blog_3{    
    max-width: 387px;
    min-height: 419px;
    padding: 16px;
    margin: 24px 0px 0px 19px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.blog_img
{   
    width: 15px;
    height: 15px;
    margin-left: 22px;
    margin-right: 12px;
    padding-top: 2px;    
    
}
.img_heart{
    width: 15px;
    height: 16px;
    margin-right: 12px;
    padding-top: 2px;  
}   




@media (max-width: 768px){
.blogs h2{
    margin: 32px 0 0 0;
    font-family: Inter;
    font-size: 32px;
}
.blogs h4{
        font-size: 16px;
}
.blogs p {
        font-size: 12px;
}
.blog_1{
    max-width: 216px;
    min-height: 282px;
    padding-top: 16px;
    margin: 16px 20px 0 0px;
    font-size: 12px;
    line-height: 1.67;
    
}
.blog_2{
    max-width: 216px;
    min-height: 282px;
    padding-top: 16px;
    margin: 16px 0 0 0;
    font-size: 12px;
    line-height: 1.67;
}

.blog_3{
    max-width: 216px;
    min-height: 282px;
    padding-top: 16px;
    margin: 16px 0px 0 20px;
    font-size: 12px;
    line-height: 1.67;
}

.blog_img{   
    width: 15px;
    height: 16px;
    margin-left: 21px;
    margin-right: 4px;
    padding-top: 2px;    
    
}
.img_heart{
    width: 15px;
    height: 16px;
    margin-right: 4px;
    padding-top: 2px;  
} 
.blog{
    width: 184px;
    height: 100px;
    }
.blogs_bloсk span{
    font-size: 12px;
    align-items:center;
    display:flex;
    justify-content: center;
    align-items:center;
}
.img_heart{
    padding-bottom: 2px;
    margin-right: 8px;
}
.blog_img{
    padding-bottom: 2px;
    margin-left: 29px;
    margin-right: 8px;
}
}

@media (max-width: 375px){
.blogs .container .blogs_bloсk {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.blogs h2{
    font-size: 24px;
}
.blog_1{
    max-width: 343px;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
    }
.blog_2{
    max-width: 343px;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin: 0 auto;
    margin-top: 12px;
    padding: 8px;
}
.blog_3{
    max-width: 343px;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin: 0 auto;
    margin-top: 12px;
    padding: 8px;
    }
.blog{
    width: 327px;
    height: 124px;
    object-fit: cover;
}
.blogs_bloсk span{
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.img_heart{
    padding-bottom: 2px;
    margin-right: 12px;
}
.blog_img{
    padding-bottom: 2px;
}
}
/* news */



.news_title {
    max-width: 1200px;
    margin: 56px auto;
    padding: 32px 0;
    background-color: #fafafa;
}


.news_title h2{
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;

}

.news_title .news_img {
    padding-top: 24px;
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    object-fit: contain;
}

.news_text {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    max-width: 800px;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.news_btn {
    display: block;
    margin: 0px auto;
    margin-top: 32px;
    width: 180px;
    height: 56px;
    background-color: #b9506a;

    flex-grow: 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    color: #fff;
}


@media (max-width: 768px){
.news_title{
    max-width: 768px;
    margin: 32px 0 0 0;
    padding-bottom: 24px;
}
.news_title h2 {
    font-size: 32px;

}
.news_title .news_img {
    width: 100px;
    height: 100px;
    padding-top: 16px;
}


.news_text{
    font-size: 14px;
    margin-top: 16px;
    max-width: 452px;
}
.news_btn{
    width: 159px;
    height: 40px;
    margin: 0 auto;
    margin-top: 24px;
    font-size: 16px;
    
}


}
@media (max-width: 375px){
.news_title {
    max-width: 375px;
    margin: 24px 0;
    padding: 16px;
    background-color: #fafafa;
}
.news_title h2{
    padding-top: 0;
}
.news_btn{
    width: 159px;
    height: 40px;
}

.news_btn{
    margin: 0 auto;
}
.news_text{
    max-width: 343px;
    min-height: 112px;
    font-size: 14px;
    line-height: 1.6;
    margin: 16px 0;
}

}


/* Join */

.join_us {
    display: flex ;
    margin: 0 auto;
    max-width: 1200px;
}
.join_text{
    width: 327px;
    height: 122px;

}
.join_block1 {
    max-width: 509px;
    height: 400px;
    background-color: #283d87;
    padding: 107px 91px;
    
}

.join_block1 h2 {
    flex-grow: 0;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

}

.join_block1 p{
    padding-top: 8px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}


.join_btn {
    display: block;
    margin: 0 auto;
    width: 159px;
    height: 40px;
    background-color: #b9506a;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    cursor:pointer;
    color: #fff;
}


.join_img {
    max-width: 692px;
    height: 400px;
    display: block;
}


@media (max-width: 768px){
.join_block1 h2{
    font-size: 32px;
    line-height: 1.56;


}
    
.join_text{
    width: 246px;
    height: 136px;
}

.join_us {
    max-width: 768px;
    padding-top: 0;
}
.join_block1{
    max-width: 310px;
    height: 264px;
    padding: 64px 32px 64px 32px;
    margin-top: 32px;
}
.join_img{
    max-width: 458px;
    height: 264px;
    margin-top: 32px ;    
}
.join_btn a{
    font-size: 14px;
}
.join_btn{
    width: 151px;
    height: 32px;
}
.join_block1 p{
    font-size: 24px;
}
}

@media (max-width: 375px){
.join_us{
    display: block;
}

.join_block1{
    max-width: 767px;
    padding: 64px 64px 64px 65px;
}
.join_img{
    height: 264px;
    max-width: 767px;
    padding: 0;
    object-fit: cover;
}

}
/* Footer */



.footer_icon {
    filter: invert();
    margin-right: 10px;
}

.footer_block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    max-width: 1440px;
    min-height: 217px;
    padding: 32px 120px ;
    background-color: #b9506a;
}



.footer_link{
    display: flex;
    justify-content: space-between;
    width: 613px;
    min-height: 144px;
    /* margin: 0 0 0 0;
    padding: 0; */
}

.footer_link li{
    list-style-type: none;
    margin-top: 12px;
}
.legal li{
    display: flex;
}

.footer_link .get_in_touch,
.footer_link .follow_us,
.footer_link .legal{
    flex-grow: 0;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.footer_link span{
    flex-grow: 0;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}


.footer_link a{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #fff;
}


.footer_link .link_icon {
    vertical-align: middle;
    margin-right: 8px;
}


.footer_block2 {
    max-width: 1440px;
    min-height: 56px;
    text-align: center;
    padding: 15px;
    background-color: #232323;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
}

@media (max-width: 768px){
.footer_block1{
    max-width: 768px;
    margin-top: 32px;
    min-height: 200px;
    padding: 32px 40px ;
}
.footer_link{
    width: 500px;
    height: 136px;


}
.legal li{
    margin-top: 14px;
    font-size: 14px;
}
.footer_link span{
    font-size: 16px;
}
.footer_link a{
    font-size: 14px;
    display: flex;
}
.footer_block2{
    max-width: 768px;
    min-height: 48px;
    padding: 11px;
}
}

@media (max-width: 375px){
.footer_block1{
    display: block;
    max-width: 375px;
    min-height: 364px;
    padding-left: 16px;
    padding-top: 24px;
}
.join_img{
    margin: 0;
}
.footer_icon {
    width: 72px;
    height: 40px;
    margin: 0 66px 16px 0;
}
.footer_link {
    width: 375px;
    display: block;
}

.footer_link a{
    font-size: 14px;
}
.footer_link span{
    font-size: 16px;
}
.get_in_touch{
    font-size: 14px;

}
.follow_us{
    margin-top: 24px;
    font-size: 14px;
}
.legal{
    position: relative;
    bottom: 157px;
    left: 100px;
    margin-top: 24px;
    margin-left: 40px;
    font-size: 14px;
}
.legal li{
    font-size: 14px;
    margin-top: 14px;
}
.footer_block2{
    max-width: 375px;
    min-height: 40px;
    padding: 11px 89px 11px 90px;
}
.footer_block2 span {
    font-size: 12px;
}
}